.header{
    background-color: $pokeRojo;
    border-bottom: 2rem solid $pokeGrisDark;

    
    .contain{
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        align-items: center;
        padding: 2rem;
    }

    .logo{
        display: flex;
        img{
            width: 14rem;
        }
    
        .logo_text{
            font-family: $text;
            font-size: 4.5rem;
            color:$pokeGrisDark;
            margin: 0;
            text-decoration: underline;
        }
    }
    
    .circle{
        left: 3rem;
        top: 6rem;
    }
    .nav{    
        display: flex;
        align-items: center;
        gap: 2rem;
        a{
            min-width: 12.7rem;
            font-size: 2rem;
            color: $pokeGrisDark;
            text-decoration: underline 2.5px $pokeAmarillo;
            font-family: $text;
            padding: 1.4rem;
            font-weight: $bold;

            &:hover{
                background-color: $pokeRojoDark;
                color: $pokeAmarillo;
                transition: all .5s;
            }
        }

        
    }
    @include tablet{
        .contain{
            flex-direction: column;
            padding: 4rem;
        }
        .logo{
            margin-left: -3rem;
        }
        .circle{
            left: 0rem;
            top: 6.7rem;
        }
        .nav{    
            margin-top: -6rem;
            gap: .5rem;
            a{
                padding: 1rem;
            }
    
            
        }
    }
}