.header{
    background-color: $pokeRojo;
    border-bottom: 2rem solid $pokeGrisDark;

    
    .contain{
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        align-items: center;
    }

    .logo{
        display: flex;
        img{
            width: 14rem;
        }
    
        .logo_text{
            font-family: $pokeFont;
            font-size: 4rem;
            color:$pokeGrisDark;
            margin: 0;
        }
    }
    
    .circle{
        left: 2rem;
        top: 4.3rem;
    }
    .nav{    
        display: flex;
        align-items: center;
        gap: 2rem;
        a{
            font-size: 2rem;
            color: $pokeGrisDark;
            text-decoration: underline 2.5px $pokeAmarillo;
            font-family: $text;
            padding: 1.4rem;
            font-weight: $bold;

            &:hover{
                background-color: $pokeRojoDark;
                color: $pokeAmarillo;
                transition: all .5s;
            }
        }
    }
}