main{
    margin: 2rem 0;
}
.interfaz{
    display: flex;
    background-color: $pokeBlanco;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    border-radius: 5px;
    align-items: center;
}