html {
    font-size: 62.5%;
    box-sizing: border-box;
    
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-size: 1.6rem;
    line-height: 1.8;
    background-color: $greyLigth;
}

.contain{
    width: 100%;
    margin: 0 auto;
    max-width: 120rem;
}

.circle{
    background-color: $pokeBlanco;
    position: relative;
    width: 6rem;
    height: 6rem;
    border-radius:50% ;
    border: 2rem solid $pokeGrisDark;
}

p, h2{
    font-family: $text;
    font-weight: $bold;
}