
//colors
$greyLigth: #c9c9c9;
$pokeRojo: 	#ff0000;
$pokeRojoDark: 	#cc0000;
$pokeBlanco: #f0f0f0;
$pokeGrisDark: #222224;
$pokeAmarillo: #FFDE00;

//font size
$delgada: 300;
$regular : 400;
$bold: 700;
$black: 900;

//font family
$pokeFont:  'Pokemon Solid', sans-serif;
$text: 'Rajdhani', sans-serif;